<!DOCTYPE html>
<html>
    <head>


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script>-->
    <script src="login.js"></script>

    <!-- CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/seti.css" />
        <link rel="stylesheet" href="login.css" />
    </head>
    <body ng-app="comercial" ng-controller="ctlComercial">

        <!--header-->
        <ng-include src="'../main/logo.html'" ></ng-include>

        <!--login-->
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Ingreso al Sistema</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form name="loginForm" ng-submit="login()" novalidate>
                                <div class="form-group">
                                    <label for="username" class="control-label">Usuario</label>
                                    <input type="text" id="username" name="username" ng-model="login.usuario" class="form-control input-sm"  required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Password</label>
                                    <input type="password" id="password" name="password" ng-model="login.password"  class="form-control input-sm" required>
                                </div>
                                <button type="submit" class="btn btn-custom btn-block" ng-disabled="loginForm.$invalid">Ingresar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>