<!DOCTYPE html>
<html>
    <head>
        <!-- JS -->
        <script src="../components/angular/angular.js"></script>
        <script src="../components/angular-animate/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>


        <script src="../components/jquery/dist/jquery.min.js"></script>
        <script src="../components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../components/angular-route/angular-route.js"></script>

        <script src="main.js"></script>
        <script src="../tareas/tareas.js"></script>
        <script src="../oportunidad/oportunidad.js"></script>
        <script src="../seguimiento/seguimiento.js"></script>
        <script src="../responderCheckList/responderCheckList.js"></script>
        <script src="../calificar/calificar.js"></script>
        <script src="../components/nya-bootstrap-select/dist/js/nya-bs-select.js"></script>
        <script src="../responderCheckList/costeoOut.js"></script>
        <script src="../responderCheckList/costeoCons.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/seti.css" />
         <link href="../components/nya-bootstrap-select/dist/css/nya-bs-select.css" rel="stylesheet">
    </head>

    <body ng-app="comercial" ng-controller="comercialController">

        <!--Compañía-->
        <div class=" row title">
            <div class = "col-sm-6" style="color:white;font-family:'handelFont'; font-size: 25px;">
                <div style="margin: 5px 0px 0px 150px"><p>SETI SAS</p></div>
            </div>
            <div class = "col-sm-6" style ="margin-top:15px;font-size=50px;text-align:right;color:white">
                <p> {{usuario}}</p>   
            </div>
        </div>

        <!--Menú-->
        <nav class="navbar navbar-inverse" style="float:none">
          <div class="container-fluid">
            <div class="navbar-header">
              <img style="margin: -58px 0px -25px 0px; float:left" src="../images/logoSeti.png" width="130px" />
              <a class="navbar-brand" style="color:white" href="#">Sistema Comercial</a>
            </div>
            <ul class="nav navbar-nav" ng-repeat="menuItem in menu">
              <li ng-if="menuItem.url!=''"><a href="{{menuItem.url}}">{{menuItem.descripcion}}</a></li>
              
              <li ng-if="menuItem.url==''" class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" href="">{{menuItem.descripcion}}<span class="caret"></span></a>
                <ul class="dropdown-menu" >
                  <li  ng-repeat="detalleItem in menuItem.detalle">
                      <a href="{{detalleItem.url}}">{{detalleItem.descripcion}}</a>
                  </li>
                </ul>
              </li>
                            
            </ul>
             <div style="text-align:right; margin-top:15px;cursor:pointer;">
               <p style="color:white; font-size=50px; "> Salir <span class="glyphicon glyphicon-log-out"></span> </p>   
             </div> 
          </div>
        </nav>
        
        <!--Contenido-->
        <div style="clear: both;"></div>
        <div class="container-fluid">
          <div class="row content">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                  <div ng-view></div>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
          </div>

    </body>
</html>