
<div id="tareas" class="panel panel-default" style="box-shadow ">   
    <!--<p style="text-align:right; margin: 2px 2px 2px 2px">Refrescar <span class="glyphicon glyphicon-refresh"></span></p>-->
    
    <table class="table table-striped table-condensed" fixed-header>
        <thead>
            <tr>
                <th class="col-xs-1">#</th>
                <th class="col-xs-3">Producto/Persona</th>
                <th class="col-xs-1">Fecha Entrega</th>
                <th class="col-xs-5">Descripción</th>
                <th class="col-xs-1">Estado</th>
                <th class="col-xs-1">
                    <a ng:click="addCheckList();" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-plus"></span> Adicionar</a>
                </th>
            </tr>
        </thead>
        <tbody>
	        <tr ng:repeat="cl in checkList">
                <td class="col-xs-1">{{$index+1}}</td>
                <td class="col-xs-2">
                    <select ng-model="cl.producto" class="form-control input-sm" ng-class="Submitted?'ng-dirty':''" required>
                        <option ng-repeat="producto in productos" value="{{producto.codigo}}">{{producto.nombre}}</option>
                    </select>
                </td>
                <td class="col-xs-2">
                     <p class="input-group">
                        <input type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="cl.fecha" is-open="calendario" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar"  clear-text="Limpiar" current-text="Hoy"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" ng-click="calendario=true"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </td>
                <td class="col-xs-4"><input type="text" ng:model="cl.descripcion" class="form-control input-sm"></td>
                <td class="col-xs-2">{{cl.estado}}</td>
                <td class="col-xs-1">
                    <a ng:click="" class="btn btn-default btn-sm glyphicon glyphicon glyphicon-paperclip"> </a>
                    <a ng:click="removeCheckList($index)" class="btn btn-default btn-sm glyphicon glyphicon-remove"> </a>
                </td>

            </tr>
        </tbody>
    </table>
</div>