  <link rel="stylesheet" href="/responderCheckList/costeo.css">
  
  <!--<style>
    .help-block {
        font-size: 10px;
    }
  </style>-->
    
  <div ng-controller="costeoConsController">
     <form name="CosteoConsultoria" class="form-horizontal" role="form"  ng-submit="sendVisitante()" novalidate>
    	<table class="table table-bordered table-condensed">
          <!-------------------------Encabezado---------------------------->
          <thead class="encabezado">
            <tr>
              <th rowspan="2" width="2%">#</th>
              <th rowspan="2" width="10%">Fase</th>
              <th rowspan="2" width="10%">Horas</th>
              <th colspan="18">
                <table width="100%" cellspacing="10px" cellpadding="10px" >
                  <tr>
                    <td width="5%">
                      <a ng-show="primerItem > 1" ng-click="moverLeft()" type="button"" class="btn btn-options" >
                        <span class="glyphicon glyphicon-backward"> </span>
                      </a>
                    </td>
                    <td width="35%"></td>
                    <td width="10%">
                       Meses
                    </td>
                    <td width="10%">
                          <select class="form-control input-sm" ng-model="meses" ng-change="corregirPosicion()">
                            <option value="18" selected>18</option>
                            <option>24</option>
                            <option>30</option>
                            <option>36</option>
                            <option>42</option>
                            <option>48</option>
                            <option>54</option>
                            <option>60</option>
                          </select>
                      </td>
                      <td width="25%"></td>
                      <td width="10%" style="align=right" >
                        <a ng-show="primerItem + 17 < meses" ng-click="moverRight()" type="button" class="btn btn-options">
                           <span class="glyphicon glyphicon-forward"> </span>
                        </a>  
                      </td>
                    </tr>
                 </table>
              </th>
              <th rowspan="2" width="10%" align="center">
                <a ng:click="addCosteo()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Adicionar
                </a>
              </th>
            </tr>
            <tr>
              <th ng-repeat="i in getNumber() track by $index">
                {{$index+primerItem}}
              </th>
            </tr>
       </thead>
       
       <tbody ng:repeat="costeo in costeos" ng-form="costeoform" data-ng-mouseleave="changeCopy(false, 0, 0)">
         <tr >
            <td rowspan="2" style="text-align:right;">{{$index+1}}</td>
            <td rowspan="2">
                <select class="form-control input-sm" id="tipoid" name="tipoid" ng-model="costeo.fase" ng-options="fases.codigo as fase.descripcion for fase in fases">
                  <option value=""></option>
                </select>
            </td>
            <td style="text-align: right" rowspan="2">
                {{totalCosteo($index)}}
            </td>
            <td ng-repeat="i in getNumber() track by $index"
                  ng-click="costeo.meses[$index+primerItem-1] = !costeo.meses[$index+primerItem-1]" 
                  ng-class="{'seleccionado': costeo.meses[$index+primerItem-1]}"
                  class="fondo">
            </td>
            <td rowspan="2">
                <a ng-click="costeo.mostrar = !costeo.mostrar" type="button" class="btn btn-default btn-sm">
                    <span ng-show="!costeo.mostrar" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="costeo.mostrar" class="glyphicon glyphicon-chevron-up"></span>
                </a>      
                <a ng:click="removeCosteo($index)" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
          </tr>
          <tr ng-show="costeo.mostrar">
            <td colspan="18" style="background-color:#f2f2f2">
              <div class="row">
                
                <div class="col-sm-3"></div>
                <div class="col-sm-8">                
                    <table class="table-internal">
                      <thead>
                        <tr>
                          <td>perfil</td>
                          <td>horas</td>
                          <td>
                            <a ng:click="addPerfil(costeo.perfiles)" type="button" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-plus"></span> Adicionar     
                            </a>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng:repeat="perfil in costeo.perfiles">
                            <td>
                                <select class="form-control input-sm" ng-model="perfil.rol" ng-options="perfil.codigo as perfil.descripcion for perfil in perfiles">
                                  <option value=""></option>
                                </select>
                            </td>
                            <td><input type='number' class="form-control input-sm" ng-model='perfil.horas'></input></td>
                            <td style="text-align:center;">
                                <a ng:click="removePerfil(costeo.perfiles, $index)" type="button" class="btn btn-default btn-sm">
                                  <span class="glyphicon glyphicon-trash"></span>     
                                </a>
                            </td>
                        </tr>
                       </tbody>
                    </table>
                   </div>
                 </div>
            </td>
          </tr>
         </tbody>
				</table>
    </form>
  </div>